[submodule "audio/ChatTTS"]
	path = audio/ChatTTS
	url = https://github.com/2noise/ChatTTS.git
[submodule "data/chat2api"]
	path = data/chat2api
	url = https://github.com/lanqian528/chat2api.git
[submodule "audio/whispercpp"]
	path = audio/whispercpp
	url = https://github.com/AIWintermuteAI/whispercpp.git
[submodule "audio/GPT-SoVITS"]
	path = audio/GPT-SoVITS
	url = https://github.com/RVC-Boss/GPT-SoVITS.git
[submodule "visual_genrations/comfyui"]
	path = visual_genrations/comfyui
	url = https://github.com/comfyanonymous/ComfyUI.git
