[submodule "audio/ChatTTS"]
	path = audio/ChatTTS
	url = https://github.com/2noise/ChatTTS.git
[submodule "data/chat2api"]
	path = data/chat2api
	url = https://github.com/lanqian528/chat2api.git
[submodule "audio/whispercpp"]
	path = audio/whispercpp
	url = https://github.com/AIWintermuteAI/whispercpp.git
