torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118
triton==2.2.0
langchain==0.0.352
langchain-community==0.0.20
PyMuPDF==1.24.5
faiss-gpu==1.7.2
albumentations==1.4.11
BCEmbedding==0.1.5
einops==0.8.0
faster-whisper==1.0.0
ffmpeg-python==0.2.0
ffmpy==0.3.2
gradio== 4.32.2
gradio_client==0.17.0
kornia==0.7.3
kornia_rs==0.1.5
langchain==0.1.12
lark==1.1.9
librosa==0.10.2.post1
lmdeploy==0.5.1
numba==0.59.1
numpy==1.26.0
onnxruntime==1.18.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openai==1.23.6
tiktoken==0.6.0
tokenizers==0.15.2
typing_extensions==4.11.0
whisperx==3.1.1
websocket-client==1.8.0
transformers==4.36.2